@page
@model OrderModel
@{
    ViewData["Title"] = "Order";
}

<h1 class="text-center mt-5">Your Order</h1>
<p class="text-center">If you are looking for a website to buy books online, NashBook is a great choice for you.</p>

<div class="container" style="margin-bottom: 200px;">
    <div class="d-flex justify-content-between">
        <p>You Have @Model.Cart.Count Items In Your Cart</p>
        <a asp-page="/Products/Index" style="text-decoration: none; color: #000;">Back to the Store</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="w-50">PRODUCT</th>
                <th class="w-20">QUANTITY</th>
                <th class="w-20">PRICE</th>
                <th class="w-10"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Cart)
            {
                <tr>
                    <td>
                        <div class="d-flex flex-column">
                            <img src="~/images/@item.Image" style="width: 80px;" alt="">
                            <h6>@item.Name</h6>
                        </div>
                    </td>
                    <td class="align-middle">
                        @item.Quantity
                    </td>
                    <td class="align-middle">@item.Quantity X $@item.Price</td>
                    <td class="align-middle text-end">
                        <i class="bi bi-x" style="font-size: 30px;"></i>
                    </td>
                </tr>
            }
            <tr>
                <td class="py-5">Total</td>
                <td colspan="3" class="text-center align-middle fw-bold">$@Model.TotalPrice</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" asp-page-handler="ClearCart">Clear Cart</a>

    <div class="info-form" style="margin-top: 40px;">
        <h4 style="border-bottom: 3px solid #e1e1e1;margin-bottom: 50px;" class="py-3">PLEASE FILL THE FORM!</h4>
        <form method="post" class="needs-validation">
            <input asp-for="@Model.OrderForm.Address" class="form-control mb-3" type="text" placeholder="Address"
                aria-label="default input example"
                style="border: 0; border-bottom: 2px solid #e1e1e1; border-radius: 0;" required>
            <div class="invalid-feedback">
                Please provide an address.
            </div>
            <input asp-for="@Model.OrderForm.Message" class="form-control mb-3" type="text" placeholder="Your message"
                aria-label="Your message" style="border: 0; border-bottom: 2px solid #e1e1e1; border-radius: 0;">
            <button class="btn btn-success my-4" type="submit" class="btn btn-success">Check Out</button>
        </form>
    </div>
</div>
