@page "{id:int?}"
@model CustomerSite.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div style="background: url('https://localhost:5001/images/Product/slider-bg.png') repeat; height: 300px;">
    <div class="container">
        <div>
            <img src="~/images/Product/inner-banner.png" alt="">
        </div>
    </div>
</div>

<div class="container" style="margin-top: 100px; margin-bottom: 150px;">
    <div class="card border-0 mb-5">
        <div class="row g-0">
            <div class="col-md-4 text-center">
                <img src="~/images/@Model.Product.Image" class="img-fluid rounded-start" alt="..."
                    style="width: 242px; height: 341px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: 700;">@Model.Product.Name</h5>
                    <p class="card-text">@Model.Product.Description</p>
                    <p class="card-text"><strong>Author:</strong> @Model.Product.Author</p>
                    <p class="card-text">Category: @Model.Product.CategoryName</p>
                    <p class="text-danger" style="font-size: 20px; font-weight: 500;">
                        $@Model.Product.Price
                    </p>
                    <div class="mb-3">
                        @for (int i = 0; i < Math.Round(@Model.Product.AverageRating * 2) / 2; i++)
                        {
                            <i class="bi bi-star-fill" style="color: #ffc700;"></i>
                        }
                        @if (Math.Round(@Model.Product.AverageRating * 2) % 2 == 1)
                        {
                            <i class="bi bi-star-half" style="color: #ffc700;"></i>
                        }
                        @for (int i = 0; i < Math.Floor((10 - Math.Round(@Model.Product.AverageRating * 2)) / 2); i++)
                        {
                            <i class="bi bi-star"></i>
                        }
                    </div>
                    <a class="btn btn-success" asp-page="../Order/Index" asp-page-handler="AddToCart"
                        asp-route-id="@Model.Product.Id">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="card border-0" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="row g-0">
            <div class="col-md-4">
                <h1 class="text-center"
                    style="font-weight: 750; font-size: 90px; transform: translateY(50px) rotate(-90deg);">Info</h1>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><strong>Format:</strong> @Model.Product.UpdatedDate</p>
                    <p class="card-text"><strong>Status:</strong>
                        @if (Model.Product.Quantity > 0)
                        {
                            <span> Available</span>
                        }
                        else
                        {
                            <span> Out of Stock</span>
                        }
                    </p>
                    <p class="card-text"><strong>Quantity:</strong> @Model.Product.Quantity</p>
                    <p class="card-text"><strong>Description:</strong> @Model.Product.Description
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h1 class="text-center text-danger" style="margin-top: 80px;">Write a Review</h1>
    <form method="post" style="font-size: 20px; margin-bottom: 100px;">
        <div class="d-flex justify-content-center">
            <div class="rate">
                @for (int i = 5; i > 0; i--)
                {
                    <input type="radio" id="@i" name="Stars" value=@i />
                    <label for="@i" title="text"></label>
                }
            </div>
        </div>
        <p class="text-center">Click a star to rate</p>
        <div class="form-floating mb-3">
            <textarea asp-for="@Model.ReviewForm.Comment" class="form-control" placeholder="Leave a comment here"
                id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-success">Submit</button>
        </div>
    </form>

    <hr>

    <h1 style="margin-top: 50px;">Rating List</h1>

    @if (@Model.RatingList.Count == 0)
    {
        <div>
            No Comment Yet.
        </div>
    }
    @foreach (var rating in @Model.RatingList)
    {
        List<string> titles = new List<string>() { "Very Bad", "Poor", "Ok", "Good", "Excellent" };
        <div class="card mb-3">
            <div class="card-body">
                <div class='d-flex justify-content-between'>
                    <h5 class="card-title">
                        @if (rating.Star > 0 && rating.Star < 6)
                        {
                            @Model.TitleList[rating.Star-1]
                        }
                    </h5>
                    <p class="text-secondary">@rating.UpdatedDate</p>
                </div>
                <div class='d-flex justify-content-between'>
                    <span>
                        @for (int i = 0; i < rating.Star; i++)
                        {
                            <i class="bi bi-star-fill" style="color: #ffc700;"></i>
                        }
                        @for (int i = 0; i < 5 - rating.Star; i++)
                        {
                            <i class="bi bi-star"></i>
                        }

                    </span>
                    <p><span class="text-secondary">Written by </span>@rating.Reviewer</p>
                </div>
                <p class="card-text">@rating.Comment</p>
            </div>
        </div>
    }

</div>

<style>
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }

    .rate:not(:checked)>input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked)>label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

    .rate:not(:checked)>label:before {
        content: '★ ';
    }

    .rate>input:checked~label {
        color: #ffc700;
    }

    .rate:not(:checked)>label:hover,
    .rate:not(:checked)>label:hover~label {
        color: #deb217;
    }

    .rate>input:checked+label:hover,
    .rate>input:checked+label:hover~label,
    .rate>input:checked~label:hover,
    .rate>input:checked~label:hover~label,
    .rate>label:hover~input:checked~label {
        color: #c59b08;
    }
</style>